{% load static %}
{% load humanize %}
<!-- recent start -->
<div class="left-blog">
    <h4>recent post</h4>
    <div class="recent-post">
      {% for post in posts %}
      <!-- start single post -->
      <div class="recent-single-post">
        <div class="post-img">
          <a href="{% url 'blog:single' pid=post.id %}">
            <img src="{{post.image.url}}" alt="">
          </a>
        </div>
        <div class="pst-content">
          <p><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></p>
          <p>{{post.published_date|naturaltime}}</p>
        </div>
      </div>
      <!-- End single post -->
      {% endfor %}
    </div>
  </div>
<!-- recent end -->